@font-face {
  font-family: 'Pokemon Hollow Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Hollow Normal'), url('Pokemon Hollow.woff') format('woff');
  }
  

h1 {
  font-family: 'Pokemon Hollow Normal';
  color: red;
}


.container {
  max-width: 1000px; /* Largura máxima da sua Pokédex */
  margin: 0 auto; /* Centralize o conteúdo horizontalmente */
  padding: 20px; /* Espaçamento interno */
}